<%= form_for( @setor, :html => { :multipart => true } ) do |f| %>
  <% if @setor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setor.errors.count, "error") %> prohibited this setor from being saved:</h2>

      <ul>
      <% @setor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
