<p id="notice"><%= notice %></p>
<br>
<%= link_to 'Novo Setor', new_setor_path %>
<br>

<h1>Setores</h1>

<table>
  <tbody>
    <% @setors.each do |setor| %>
      <tr>
        <td>
          <%= link_to image_tag(setor.avatar.url(:medium), :border =>0), setor_organizacaos_path(setor) %>
          <br><%= setor.nome %>
          <br><%= setor.descricao %>
        </td>
        <td>
          <ul>
            <li><%= link_to 'Show', setor %></li>
            <li><%= link_to 'Edit', edit_setor_path(setor) %></li>
            <li><%= link_to 'Destroy', setor, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
      </tr>
    <% end %>
  </tbody>
</table>
