<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @setor.avatar.url(:thumb) %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @setor.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @setor.descricao %>
</p>

<%= link_to 'Edit', edit_setor_path(@setor) %> |
<%= link_to 'Back', setors_path %>
