<h2>Registre-se !</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
     <%= f.label :nome %><br>
     <%= f.text_field :nome, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :telefone %><br>
    <%= f.text_field :telefone %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
        <em>Mínimo em caracteres: <%= @minimum_password_length %></em>
    <% end %><br>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Registrar" %>
  </div>
<% end %>

<%= render "usuarios/shared/links" %>
