<div id="user_nav">
  <% if usuario_signed_in? %>
    Email, <%= link_to current_usuario.email, edit_usuario_registration_path %>?
    <%= link_to "Sair", destroy_usuario_session_path,  method: :delete %>

    <% if current_usuario.admin %>
      <br><%= link_to "Usuários", usuarios_path %> |
      <%= link_to "Empresas", empresas_path %>
    <% elsif !current_usuario.empresa %>
      <br><h4><%= link_to "Entre em contato com o suporte para criar sua empresa." %></h4>
    <% elsif current_usuario.empresa_admin %>
      <br><%= link_to "Usuários", empresa_usuarios_path(current_usuario.empresa) %>
    <% end %>
  <% else %>
      <%= link_to "Acesse", new_usuario_session_path %> |
      <%= link_to "Registre-se", new_usuario_registration_path %>
  <% end %>
</div>
