<h1>Editar Organização</h1>

<%= render 'form' %>

<%= link_to 'Show', setor_organizacao_path(@organizacao.setor_id, @organizacao) %> |
<%= link_to 'Back', setor_organizacaos_path(@organizacao.setor_id) %>
