<p id="notice"><%= notice %></p>

<%= link_to "Cadastrar nova orgarnização", new_setor_organizacao_path %>
<br>
<br>

<%= @setor.nome + " > Organizações" %>

<table>
  <tbody>
    <% @organizacaos.each do |organizacao| %>
      <tr>
        <td>
          <%= link_to image_tag(organizacao.avatar.url(:medium), :border =>0), setor_organizacao_oferta_path(@setor, organizacao) %>
          <br><%= organizacao.nome %>
          <br><%= organizacao.descricao %>
        </td>
        <td>
          <ul>
            <li><%= link_to 'Show', setor_organizacao_path(organizacao.setor_id, organizacao) %></li>
            <li><%= link_to 'Edit', edit_setor_organizacao_path(organizacao.setor_id, organizacao) %></li>
            <li><%= link_to 'Delete', [@setor, organizacao], method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
