<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @organizacao.avatar.url(:thumb) %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @organizacao.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @organizacao.descricao %>
</p>

<%= link_to 'Edit', edit_setor_organizacao_path(@organizacao.setor_id, @organizacao) %> |
<%= link_to 'Back', setor_organizacaos_path(@organizacao.setor_id) %>
