<%= form_for( [@setor, @organizacao, @ofertum], :html => { :multipart => true } ) do |f| %>
  <% if @ofertum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ofertum.errors.count, "error") %> prohibited this ofertum from being saved:</h2>

      <ul>
      <% @ofertum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>

  <div class="field">
    <%= f.label :subtitulo %><br>
    <%= f.text_field :subtitulo %>
  </div>

  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>

  <div class="field">
    <%= f.label :regulamento %><br>
    <%= f.text_field :regulamento %>
  </div>

  <div class="field">
    <%= f.label :data_inicio %><br>
    <%= f.datetime_select :data_inicio %>
  </div>

  <div class="field">
    <%= f.label :data_fim %><br>
    <%= f.datetime_select :data_fim %>
  </div>
  <div class="field">
    <%= f.label :taxa_administrativa %><br>
    <%= f.number_field :taxa_administrativa %>
  </div>

  <div class="field">
    <%= f.label :valor_unitario %><br>
    <%= f.text_field :valor_unitario %>
  </div>

  <div class="field">
    <%= f.label :quantidade_venda_atacado %><br>
    <%= f.number_field :quantidade_venda_atacado %>
  </div>

  <div class="field">
    <%= f.label :valor_venda_atacado %><br>
    <%= f.text_field :valor_venda_atacado %>
  </div>

  <%= f.fields_for :oferta_imagems do |ff| %>
    <div class="field">
      <%= ff.label :titulo %><br>
      <%= ff.text_field :titulo %>
    </div>

    <div class="field">
      <%= ff.label :descricao %><br>
      <%= ff.text_field :descricao %>
    </div>

    <div class="field">
      <%= ff.label :imagem %><br>
      <%= ff.file_field :imagem %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
