<h1>Editar Oferta</h1>

<%= render 'form' %>

<%= link_to 'Show', setor_organizacao_ofertum_path(@setor, @organizacao, @ofertum) %> |
<%= link_to 'Back', setor_organizacao_oferta_path(@setor, @organizacao) %>
