<p id="notice"><%= notice %></p>

<%= link_to 'Nova Oferta', new_setor_organizacao_ofertum_path(@setor, @organizacao) %>
<br>
<br>

<h1>Ofertas</h1>

<table>
  <tbody>
    <% @oferta.each do |ofertum| %>
      <tr>
        <td>
          <%= link_to image_tag(ofertum.oferta_imagems[0].imagem.url(:medium), :border =>0) %>
          <br><%= ofertum.titulo %>
          <br><%= ofertum.subtitulo %>
          <br><%= link_to "Comprar", setor_organizacao_ofertum_path(@setor, @organizacao, ofertum) %>
        </td>
        <td>
          <ul>
            <li><%= link_to 'Show', setor_organizacao_ofertum_path(@setor, @organizacao, ofertum) %></li>
            <li><%= link_to 'Edit', edit_setor_organizacao_ofertum_path(@setor, @organizacao, ofertum) %></li>
            <li><%= link_to 'Destroy', [@setor, @organizacao, ofertum], method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
