<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @ofertum.titulo %>
</p>

<p>
  <strong>Subtitulo:</strong>
  <%= @ofertum.subtitulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @ofertum.descricao %>
</p>

<p>
  <strong>Regulamento:</strong>
  <%= @ofertum.regulamento %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @ofertum.data_inicio %>
</p>

<p>
  <strong>Data fim:</strong>
  <%= @ofertum.data_fim %>
</p>

<p>
  <strong>Taxa administrativa:</strong>
  <%= @ofertum.taxa_administrativa %>
</p>

<p>
  <strong>Valor unitario:</strong>
  <%= @ofertum.valor_unitario %>
</p>

<p>
  <strong>Quantidade venda atacado:</strong>
  <%= @ofertum.quantidade_venda_atacado %>
</p>

<p>
  <strong>Valor venda atacado:</strong>
  <%= @ofertum.valor_venda_atacado %>
</p>

<p>
  <strong>Imagens:</strong><br> 
  <% @ofertum.oferta_imagems.each do |oferta_imagem| %>
    <%= image_tag oferta_imagem.imagem.url(:thumb) %>
  <% end %>
</p>

<%= link_to 'Comprar', '#' %> |

<%= link_to 'Edit', edit_setor_organizacao_ofertum_path(@setor, @organizacao, @ofertum) %> |
<%= link_to 'Back', setor_organizacao_oferta_path(@setor, @organizacao) %>
