<h1>Editar Usuário</h1>

<%= render 'form' %>

<%= link_to 'Remove Account', @usuario, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %> |
<%= link_to 'Show', @usuario %> |
<%= link_to 'Back', usuarios_path %>
