<%= form_for( [@empresa, @usuario], :html => { :multipart => true } ) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, autofocus: true %>
    <% if current_usuario.admin || current_usuario.empresa_admin %>
      <%= f.check_box :empresa_admin, class: :checkbox %>
      <%= f.label "Admin da empresa?", class: :checkbox %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :telefone %><br>
    <%= f.text_field :telefone %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>Mínimo em caracteres: <%= @minimum_password_length %></em>
    <% end %><br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

