<h1>Editar Usuário</h1>

<%= render 'empresas/usuarios/form' %>

<%= link_to 'Remove Account', empresa_usuario_delete_path(@empresa, @usuario), method: :delete, data: { confirm: 'Tem certeza?' } %> |
<%= link_to 'Show', empresa_usuario_path(@empresa, @usuario) %> |
<%= link_to 'Back', empresa_usuarios_path(current_usuario.admin ? @empresa : current_usuario.empresa) %>
