<p id="notice"><%= notice %></p>

<h1>Lista de usuários da empresa: <%= @empresa.nome_fantasia %></h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nome %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.telefone %></td>
        <td><%= image_tag usuario.avatar.url(:thumb) %></td>
        <td><%= link_to 'Show', empresa_usuario_path(@empresa, usuario) %></td>
        <td><%= link_to 'Edit', empresa_usuario_edit_path(@empresa, usuario) %></td>
        <td><%= link_to 'Destroy', empresa_usuario_delete_path(@empresa, usuario), method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><%= link_to 'Novo Usuario', empresa_usuario_new_path(current_usuario.admin ? @empresa : current_usuario.empresa) %>

