<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @usuario.avatar.url(:thumb) %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @usuario.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<%= link_to 'Edit', empresa_usuario_edit_path(@empresa, @usuario) %> |
<%= link_to 'Back', empresa_usuarios_path(current_usuario.empresa) %>
