<%= form_for( @empresa, :html => { :multipart => true } ) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :logo %><br>
    <%= f.file_field :logo %>
  </div>

  <div class="field">
    <%= f.label :nome_fantasia %><br>
    <%= f.text_field :nome_fantasia %>
  </div>

  <div class="field">
    <%= f.label :razao_social %><br>
    <%= f.text_field :razao_social %>
  </div>

  <div class="field">
    <%= f.label :cnpj %><br>
    <%= f.text_field :cnpj %>
  </div>

  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
