<p id="notice"><%= notice %></p>

<h1>Listing Empresas</h1>

<table>
  <thead>
    <tr>
      <th>Nome fantasia</th>
      <th>Razao social</th>
      <th>Cnpj</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><%= empresa.nome_fantasia %></td>
        <td><%= empresa.razao_social %></td>
        <td><%= empresa.cnpj %></td>
        <td><%= empresa.descricao %></td>
        <td><%= image_tag empresa.logo.url(:thumb) %></td>
        <td><%= link_to 'Show', empresa %></td>
        <td><%= link_to 'Edit', edit_empresa_path(empresa) %></td>
        <% if current_usuario.admin %>
            <td><%= link_to 'Destroy', empresa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Empresa', new_empresa_path %>
