<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @empresa.logo.url(:thumb) %>
</p>

<p>
  <strong>Nome fantasia:</strong>
  <%= @empresa.nome_fantasia %>
</p>

<p>
  <strong>Razao social:</strong>
  <%= @empresa.razao_social %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @empresa.cnpj %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @empresa.descricao %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
